{% extends "base.html" %}

{% block extrahead %}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="知识库">
  <link rel="apple-touch-icon" href="{{ "assets/images/apple-touch-icon.png" | url }}">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#1c1c1e" media="(prefers-color-scheme: dark)">
{% endblock %}
